<!DOCTYPE html>
{% extends 'menuTemplate.html' %}

{% block content %}
    <br>
    <div class="panel form-element-padding">
                        <div class="panel-heading">
                         <h4>Enable Audio Stream</h4>
                        </div>
                        <div class="panel-body">
                            <a href="/startdarkice"><button>Start Audio Stream</button></a>
                            <br><br>
                            <a href="/stopdarkice"><button>Stop Audio Stream</button></a>
                        </div>


    </div>

{% endblock %}
