<!DOCTYPE html>
{% extends 'menuTemplate.html' %}

{% block content %}
    <br>
    <div class="panel form-element-padding">
                        <div class="panel-heading">
                         <h4>Enable Clarity Rating</h4>
                        </div>
                        <div class="panel-body">
                            <a href="/startclarity"><button>Start Clarity Rating</button></a>
                            <br><br>
                            <a href="/stopclarity"><button>Stop Clarity Rating</button></a>
                        </div>
    </div>

{% endblock %}