<!DOCTYPE html>
{% extends 'menuTemplate.html' %}

{% block content %}
<br>
<div>
    <div class="panel form-element-padding">
                        <div class="panel-heading">
                         <h4>Student Questions</h4>
                        </div>
                         <div class="panel-body" style="padding-bottom:30px;">
                          <div class="col-md-12">
                            <h2> </h2>
                            </div>

                          </div>
    </div>
</div>
{% endblock %}